.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
} /* CHECKED */
/* ------------------------------ HW8 ------------------------------ */

@media screen and (max-width: $breakpoint-mobile) {
  .container {
    box-sizing: border-box;
    min-width: 450px;
    max-width: 480px;

    padding: 0 15px;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .container {
    min-width: 738px;
    max-width: 768px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .container {
    min-width: 1200px;
    max-width: 1600px;
  }
}
/* CHECKED */
