.header__svg {
  margin-right: 10px;
  cursor: pointer;
}

.our-team__svg {
  width: 21px;
  height: 21px;

  overflow: visible;
  border-radius: 100%;

  margin-top: 15px;
  padding: 12px;
}

.find-us__svg {
  color: #eeeeee;

  width: 21px;
  height: 21px;

  overflow: visible;
  border-radius: 100%;

  padding: 12px;

  background: rgba(255, 255, 255, 0.1);
}

.find-us__svg:not(:last-child) {
  margin-right: 10px;
}

.svg--fix {
  width: 20px;
  height: 20px;
}

.svg-blue a,
.svg-blue,
.svg-blue:active {
  cursor: pointer;
  color: var(--text-secondary);
}

.svg-blue:hover,
.svg-blue:focus {
  color: #2195f3;

  transition: var(--transition-default);
}

.svg-blue {
  background: rgba(255, 255, 255, 0.1);
}

/* tema 4 ultimate save */

.svg-blue-nonhead,
.svg-blue-nonhead:active {
  cursor: pointer;
  color: var(--text-secondary);
}

.svg-blue-nonhead:hover,
.svg-blue-nonhead:focus {
  color: #eeeeee;
  background-color: #2195f3;

  transition: var(--transition-default);
}

.svg-blue-nonhead {
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}

.svg-blue-footer,
.svg-blue-footer:active {
  cursor: pointer;
}

.svg-blue-footer:hover,
.svg-blue-footer:focus {
  color: #2195f3;

  transition: var(--transition-default);
}

.svg-blue-rc a,
.svg-blue-rc,
.svg-blue-rc:active {
  cursor: pointer;
  color: var(--text-secondary);
}

.svg-blue-rc:hover,
.svg-blue-rc:focus {
  color: #2195f3;
  border: 1px solid #2195f3;
  border-radius: 4px;

  transition: var(--transition-default);
}

.svg-blue-rc {
  background: rgba(255, 255, 255, 0.1);
}

.form-1__label__input__svg {
  max-width: 18px;
  max-height: 18px;

  transition: color var(--transition-default);
  position: absolute;
  color: var(--text-black);

  top: 11px;
  left: 12px;
}

.form-1__label__input:hover + .form-1__label__input__svg,
.form-1__label__input:focus + .form-1__label__input__svg {
  color: var(--brand-blue);
}

/* ------------------------------ HW8 ------------------------------ */

/* MOBILE */
@media screen and (max-width: $breakpoint-mobile) {
  .why-us__svg {
    background: #f5f4fa;
    border-radius: 4px;

    max-height: 120px;
    max-width: 270px;
    margin-bottom: 30px;
    padding: 25px 170px;
  }
}

/* TABLET */
@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
}

/* DESKTOP */
@media screen and (min-width: $breakpoint-desktop) {
  .why-us__svg {
    background: #f5f4fa;
    border-radius: 4px;

    max-height: 120px;
    max-width: 270px;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
}

/* CHECKED */

/* WORKS AS INTENDED */
