/* Why us */

.main__why-us__heading {
  line-height: 1;
  width: 270px;
}

/* ------------------------------ HW8 ------------------------------ */

/* MOBILE */
@media screen and (max-width: $breakpoint-mobile) {
  .main__why-us {
    width: 100%;
    max-width: 480px;
    min-width: 450px;

    background-color: var(--background-white);

    margin-top: 60px;

    padding: 0 15px 60px 15px;

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      justify-content: center;
      align-items: stretch;
      text-align: center;

      gap: 30px;

      padding: 0 15px 60px 15px;

      li {
        max-width: 450px;

        svg {
          padding: 25px 120px;
          width: 100%;

          h2 {
            text-align: center;
          }

          p {
            text-align: left;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .main__why-us__paragraph {
    line-height: 1.5;

    text-align: left;
  }

  .main__why-us__heading {
    line-height: 1;
    width: 100%;

    margin: 0;
  }
}

/* TABLET */
@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
}

/* DESKTOP */
@media screen and (min-width: $breakpoint-desktop) {
  .main__why-us {
    background-color: var(--background-white);

    display: flex;
    align-content: center;
    justify-content: center;
  }

  .main__why-us li:not(:last-child) {
    margin: 0 30px 0 0;
  }

  .section--why {
    justify-content: center;

    padding: 94px 0 0 0;

    width: 100%;
  }

  .main__why-us__paragraph {
    line-height: 1.5;
    width: 270px;
  }
}

/* CHECKED */

/* WORKS AS INTENDED */
