/* Hero Section */
.main__hero-section {
  background: url(/images/hero-bg.jpg) var(--brand-gray);
  color: var(--text-white);
} /* CHECKED */

.main__hero-section__container {
  background: #2f303a66;
  background: -moz-linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  background: -webkit-linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  background: linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f303a",endColorstr="#2f303a",GradientType=1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
} /* CHECKED */

.main__hero-section__heading {
  font-size: 44px;
  line-height: 1.5;
} /* CHECKED */

.main__hero-section__button {
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 5px;
} /* CHECKED */

.main__hero-section__button,
.main__hero-section__button:active {
  cursor: pointer;
  background-color: var(--brand-blue);
  color: var(--text-white);
  line-height: 1.9;
} /* CHECKED */

.main__hero-section__button:hover,
.main__hero-section__button:focus {
  background-color: #2195f3ee;

  transition: var(--transition-default);
} /* CHECKED */

/* ------------------------------ HW8 ------------------------------ */

@media screen and (max-width: $breakpoint-mobile) {
  .main__hero-section {
    margin-top: 0;
  }

  .main__hero-section__container {
    background-size: cover;

    padding: 118px 0 118px 0;
  }

  .main__hero-section__heading {
    font-size: 26px;
  }
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .main__hero-section {
    background-size: cover;
  }

  .main__hero-section__container {
    padding: 118px 0 118px 0;
  }

  .main__hero-section__heading {
    font-size: 26px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .main__hero-section {
    background-size: cover;
  }

  .main__hero-section__container {
    padding: 200px 0 200px 0;
  }
}
/* CHECKED */
