/* Hero Section */
.main__hero-section {
  height: 100%;

  text-align: center;

  color: var(--text-white);
} /* CHECKED */

.main__hero-section__container {
  background: #2f303a66;
  background: -moz-linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  background: -webkit-linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  background: linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f303a",endColorstr="#2f303a",GradientType=1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  text-align: center;
} /* CHECKED */

.main__hero-section__heading {
  font-size: 44px;
  line-height: 1.5;
} /* CHECKED */

.main__hero-section__button {
  transition: background-color var(--transition-default);
  cursor: pointer;

  color: var(--text-white);
  background-color: var(--brand-blue);
  line-height: 1.9;

  padding: 10px 20px;

  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f;

  .main__hero-section__button:active {
    @extend .main__hero-section__button;
  }

  .main__hero-section__button:hover,
  .main__hero-section__button:focus {
    background-color: var(--brand-blue-hover);
  }
} /* CHECKED */

/* ------------------------------ HW8 ------------------------------ */

@media screen and (max-width: $breakpoint-mobile) {
  .main__hero-section {
    margin-top: 0;
    width: $desktop__width-max;
    background: url(../images/hero-background_mobile.jpg) var(--brand-gray);
  }

  .main__hero-section__container {
    max-width: $mobile__width-max;
  }

  .main__hero-section__heading {
    width: 360px;

    font-size: 26px;
    line-height: 1.8;

    margin: 118px 0 0 0;
  }

  .main__hero-section__button {
    margin: 0 0 118px 0;
  }
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .main__hero-section {
    background-size: cover;
  }

  .main__hero-section__container {
    padding: 118px 0 118px 0;
  }

  .main__hero-section__heading {
    font-size: 26px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .main__hero-section {
    width: $desktop__width-max;
    background: url(../images/hero-background.jpg) var(--brand-gray);
  }

  .main__hero-section__container {
    padding: 200px 0 200px 0;
  }
}
/* CHECKED */
