/* Our team */
.main__our-team {
  background-color: var(--background-secondary);

  text-align: center;

  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
} /* CHECKED */

.main__our-team {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  gap: 50px 30px;
  background-color: var(--background-secondary);
}

.main__our-team__heading {
  line-height: 1.5;

  width: 100%;
}

.main__our-team__caption {
  line-height: 1.8;
  margin: 30px 0;
}

.main__our-team__caption a {
  text-decoration: none;
}

/* ------------------------------ HW8 ------------------------------ */

@media screen and (max-width: $breakpoint-mobile) {
  .main__our-team {
    max-width: 480px;
    min-width: 450px;
    padding: 60px 15px;
    img {
      display: block;
      max-width: 450px;
      height: auto;
    }

    display: flex;
    flex-direction: column;

    figure {
      max-width: 450px;
    }
  }
}

.main__our-team__heading {
}

.main__our-team figure {
  max-height: 622px;
}

figure img {
  width: 100%;
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .main__our-team {
    display: grid;
    grid-template-columns: 354px 354px;
    gap: 30px;

    margin-left: 15px;
    margin-right: 15px;
  }

  .main__our-team figure {
    width: 100%;
    height: auto;
  }

  figure img {
    width: 100%;
    height: 370px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .main__our-team {
    img {
      max-width: 270px;
    }
  }
  .main__our-team figure {
    width: 270px;
    height: 430px;
  }

  .main__our-team figure:not(:last-child) {
    margin-right: 30px;
  }

  .main__our-team__caption div {
    margin-left: 32px;
    margin-right: 32px;
  }
}
/* CHECKED */
