/* GLOBAL STYLES */
/* style reset */
*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Variables */
:root {
  /* Brand colors */
  --brand-blue: #2196f3;
  --brand-gray: #2f303a;

  /* Font colors */
  --text-default: #212121;
  --text-secondary: #757575;
  --text-white: #fff;

  /* Background colors */
  --background-white: #fff;
  --background-primary: #e5e5e5;
  --background-secondary: #f5f4fa;

  /* Transitions */
  --transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body defaults */
body {
  color: var(--text-default);
  font-family: "Roboto", sans-serif, serif;
}

/* Reusables */
.font__size--14 {
  font-size: 14px;
}

.font__size--16 {
  font-size: 16px;
}

.font__size--18 {
  font-size: 18px;
}

.font__size--32 {
  font-size: 32px;
}

.font__size--36 {
  font-size: 36px;
}

.font__weight--500 {
  font-weight: 500;
}

.font__weight--700 {
  font-weight: 700;
}

.font__weight--900 {
  font-weight: 900;
}

.font__color--default {
  color: var(--text-default);
}

.font__color--secondary {
  color: var(--text-secondary);
}

.font__color--white {
  color: var(--text-white);
}

.letter__spacing--high {
  letter-spacing: 0.06em;
}

.letter__spacing--medium {
  letter-spacing: 0.03em;
}

.letter__spacing--low {
  letter-spacing: 0.02em;
}

.flex {
  display: flex;
}

.list {
  list-style-type: none;
}

.figure__border {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.border--head {
  border-bottom: 1px solid #ececec;
}

.border {
  background: #ffffff;
  border: 1px solid #eeeeee;

  padding-bottom: 20px;
  margin: 50px 30px 30px 30px;
  width: 370px;

  box-sizing: border-box;
}

.border:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: var(--transition-default);
}

/* Logo */
.logo {
  font-size: 26px;
  line-height: 1.9;
  font-family: "Raleway", sans-serif, serif;

  padding: 24px 0 25px 0;
  margin-right: 93px;
  margin-left: 215px;
}
.logo--light {
  color: var(--text-white);
}
.logo--blue {
  color: var(--brand-blue);
}

/* Header */
.header {
  background-color: var(--background-white);
  align-items: center;
}

.header__navigation {
  padding: 32px 0 32px 0;
  margin-right: 50px;
}

.header__navigation:last-child {
  margin-right: 385px;
}

.header__svg {
  margin-right: 10px;
  cursor: pointer;
}

.header__navigation__element,
.header__navigation__element:active,
.header__navigation__element:visited {
  display: block;
  position: relative;

  cursor: pointer;
  color: var(--text-default);
  line-height: 1;
  text-decoration: none;

  margin-right: 50px;
}

.header__navigation__element:hover,
.header__navigation__element:focus,
.contacts:hover,
.contacts:focus {
  color: var(--brand-blue);

  transition: var(--transition-default);
}

/* Footer */
.footer {
  background-color: var(--brand-gray);
  padding: 60px 0 60px 0;
}

/* Contacts */
.contacts {
  cursor: pointer;
  line-height: 1;
  text-decoration: none;

  margin-left: 215px;
}

.contacts--top {
  display: flex;
  flex-wrap: wrap;

  cursor: pointer;
  line-height: 1;
  text-decoration: none;

  align-content: center;
}

.contacts__address {
  color: var(--text-white);
  font-style: normal;
  line-height: 1;
  margin: 15px 0 0 215px;
}

/* INDEX.HTML */
/* Hero Section */
.main__hero-section {
  background: url(/images/hero-bg.jpg) var(--brand-gray);
  color: var(--text-white);
}

.main__hero-section__container {
  background: #2f303a66;
  background: -moz-linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  background: -webkit-linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  background: linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f303a",endColorstr="#2f303a",GradientType=1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 200px 0 200px 0;
}

.main__hero-section__heading {
  font-size: 44px;
  line-height: 1.5;
}

.main__hero-section__button,
.main__hero-section__button:active {
  cursor: pointer;
  background-color: var(--brand-blue);
  color: var(--text-white);
  line-height: 1.9;
}

.main__hero-section__button:hover,
.main__hero-section__button:focus {
  background-color: #2195f3ee;

  transition: var(--transition-default);
}

/* Why us */

.why-us__svg {
  background: #f5f4fa;
  border-radius: 4px;

  max-height: 120px;
  max-width: 270px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.main__why-us {
  background-color: var(--background-white);

  display: flex;
  align-content: center;
  justify-content: center;
}

.main__why-us__heading {
  line-height: 1;
  width: 270px;
}

.main__why-us__paragraph {
  line-height: 1.5;
  width: 270px;
}

.main__why-us li:not(:last-child) {
  margin: 0 30px 0 0;
}

/* What we do */
.main__what-we-do {
  background-color: var(--background-white);

  text-align: center;

  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.main__what-we-do figure:not(:last-child) {
  margin-right: 30px;
}

.main__what-we-do__heading {
  line-height: 2.25;

  width: 100%;
}

/* Our team */
.main__our-team {
  background-color: var(--background-secondary);

  text-align: center;

  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.main__our-team figure {
  width: 270px;
  height: 430px;
}

.main__our-team figure:not(:last-child) {
  margin-right: 30px;
}

.main__our-team__heading {
  line-height: 2.25;

  width: 100%;
}

.main__our-team__caption {
  line-height: 2.25;
}

.main__our-team__caption a {
  text-decoration: none;
}

.main__our-team__caption div {
  margin-left: 32px;
  margin-right: 32px;
}

/* PORTFOLIO.HTML */
/* Filters */
.main__filters__button,
.main__filters__button:active {
  cursor: pointer;
  background-color: var(--background-secondary);
  line-height: 1.6;
}

.main__filters__button:hover,
.main__filters__button:focus {
  background-color: #2195f3;
  color: var(--text-white);

  transition: var(--transition-default);
}

.main__filters__button {
  padding: 5px 20px 5px 20px;
  margin: 94px 8px 50px 0;

  background: #f5f4fa;
  border: none;
}

.main__filters__buttons {
  flex-wrap: wrap;
  justify-content: center;
}

/* Listings */
.main__listings__heading {
  line-height: 2.25;
}

.main__listings__paragraph {
  line-height: 1.9;
}

/* ------------------------------ HW3 ------------------------------ */

.section {
  display: flex;
  min-width: 1600px;

  padding: 94px 0 94px 0;
}

.section--why {
  justify-content: center;

  padding: 94px 0 0 0;

  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: 100%;

  margin: 0;
  margin: auto;
}

.flex--portfolio {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
}

.listings__left--margins {
  margin-left: 215px;
}

/* ------------------------------ HW4 ------------------------------ */

.our-team__svg {
  width: 45px;
  height: 45px;

  overflow: visible;
  border-radius: 100%;

  margin-top: 15px;
  padding: 12px;
}

.main__regular-customers {
  text-align: center;
  max-width: 1600px;
  max-height: 400px;
}

.main__regular-customers__heading {
  margin-top: 100px;
}

.regular-customers__container {
  justify-content: center;
  gap: 30px;
}

.regular-customers {
  width: 170px;
  height: 100px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: #afb1b8;

  margin-top: 50px;
  margin-bottom: 100px;
  padding: 16px 32px;
}

.footer__find-us {
  margin-left: 70px;
}

.footer__find-us__heading {
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 20px;
  margin-bottom: 20px;
}

.find-us__svg {
  color: #eeeeee;

  width: 45px;
  height: 45px;

  overflow: visible;
  border-radius: 100%;

  padding: 12px;

  background: rgba(255, 255, 255, 0.1);
}

.find-us__svg:not(:last-child) {
  margin-right: 10px;
}

.header__anchor {
  flex-wrap: wrap;
  align-content: center;

  width: 180px;
  height: 30px;

  margin-right: 40px;
}

.svg--fix {
  width: 20px;
  height: 20px;
}

.svg-blue a,
.svg-blue,
.svg-blue:active {
  cursor: pointer;
  color: var(--text-secondary);
}

.svg-blue:hover,
.svg-blue:focus {
  color: #2195f3;

  transition: var(--transition-default);
}

.svg-blue {
  background: rgba(255, 255, 255, 0.1);
}

/* tema 4 ultimate save */

.svg-blue-nonhead,
.svg-blue-nonhead:active {
  cursor: pointer;
  color: var(--text-secondary);
}

.svg-blue-nonhead:hover,
.svg-blue-nonhead:focus {
  color: #eeeeee;
  background-color: #2195f3;

  transition: var(--transition-default);
}

.svg-blue-nonhead {
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}

.svg-blue-footer,
.svg-blue-footer:active {
  cursor: pointer;
}

.svg-blue-footer:hover,
.svg-blue-footer:focus {
  color: #2195f3;

  transition: var(--transition-default);
}

.svg-blue-footer {
}

.svg-blue-rc a,
.svg-blue-rc,
.svg-blue-rc:active {
  cursor: pointer;
  color: var(--text-secondary);
}

.svg-blue-rc:hover,
.svg-blue-rc:focus {
  color: #2195f3;
  border: 1px solid #2195f3;
  border-radius: 4px;

  transition: var(--transition-default);
}

.svg-blue-rc {
  background: rgba(255, 255, 255, 0.1);
}

.header-underline {
  display: none;
  position: absolute;

  content: "";
  width: 100%;
  height: 4px;

  background-color: #2195f3;
  border-radius: 10px;

  margin-top: 38px;
}

.header__navigation__element:hover .header-underline,
.header__navigation__element:focus {
  display: block;

  transition: var(--transition-default);
}

/* ------------------------------ HW4 ------------------------------ */

figure.border {
  overflow: hidden;
}

.figure__container-overlay {
  max-height: 294px;

  position: relative;
  width: 100%;

  overflow: hidden;
}

.figure__container-overlay:hover .figure__overlay {
  top: 0;

  transition: var(--transition-default);
}

.figure__overlay {
  position: absolute;
  top: 100%;

  line-height: 1.6;

  background-color: rgba(33, 150, 243, 0.9);

  transition: top var(--transition-default);
}

.figure__overlay p {
  padding: 63px 24px 91px 24px;
}

.what-we-do__container-overlay {
  position: relative;
  width: 100%;
}

.what-we-do__overlay {
  position: absolute;
  bottom: 3.5px;
}

.what-we-do__overlay p {
  padding: 27px 132px 27px 132px;

  background-color: rgba(47, 48, 58, 0.8);

  width: 370px;
  height: 70px;
}

/* ------------------------------ HW5 ------------------------------ */

.header__navigation__element--active a,
.header__navigation__element--active a:visited {
  color: var(--brand-blue);
}
.header__navigation__element--active ::after {
  pointer-events: none;

  position: absolute;
  top: 54px;

  display: block;
  content: "";
  width: 100%;
  height: 4px;

  background-color: var(--brand-blue);

  border-radius: 2px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25, 28, 38, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform var(--transition);
}

.modal {
  padding: 40px;
  background: #fff;
  width: 528px;
  height: 581px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  transform: scale(1.1);
  visibility: hidden;
}

.close-btn {
  position: absolute;
  cursor: pointer;

  width: 30px;
  height: 30px;

  top: 8px;
  right: 8px;

  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn:hover,
.close-btn:focus {
  color: #2195f3;

  transition: var(--transition-default);
}
